body{background-color: #F2F0EF;}

header{
  background-color: black;
  color: #F2F0EF;
  padding: 30;
}

h1{
  font-size: 3em;
  margin: 0;
}

h2{
  font-size: 2em;
}

section{
  background: #ccc;
}

article{
  padding: 20px;
  margin: 20px;
}

