body{background-color: #F2F0EF;}

header{
  background-color: rgb(111, 111, 111);
  color: #F2F0EF;
  padding: 30;
}

h1{
  font-size: 3em;
  margin: 0;
}

h2{
  font-size: 1em;
}

article{
  padding: 2px;
  margin: 2px;
}

p{line-height: 2em;}

p{font-family: 'Times New Roman', Times, serif;}

nav{font-family: 'Times New Roman', Times, serif;}

nav{color: blue;}

h3{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

h3{color: rgb(0, 0, 90);}

nav{
  position: sticky;
  background-color: #F2F0EF; 
  padding: 10px;
}

.image-container {
  padding: 5px;
  background-color: #ffffff;
  max-width: 400px;
  border-radius: 4px;
}

.image-container .caption{
  text-align: center;
  font-size: 1em;
  color: #000000;
  margin-top: 5px;}

tbody{
  padding: 5px;
  background-color: #ffffff;
  max-width: 400px;
  border-radius: 4px;}

thead{
  padding: 5px;
  background-color: #ffffff;
  max-width: 400px;
  border-radius: 4px;}

h2{color: darkblue;}